#root {margin: 0 auto; text-align: center;}
body {margin: 0px;}
main {text-align: justify; z-index: 0;}
.meu-slid .slick-dots {position: absolute; bottom: 50px;}
header img {width: 100px;}
#logo {display: flex; text-decoration: none;}
header nav {margin-right: 10%;}
header button:hover {background-color: #302736; border-radius: 10px;}
.mobile{display: none;}
#openned .mobile2 {background-color: #00000000; border: none; display: flex; max-width: 100px;}
#openned .mobile2 img, .mobile img {max-width: 85px; position: fixed; top: 10px; left: 10px;}

header {
  width: 100vw;
  max-height: 85px;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #392E3F;
  border-bottom: 5px solid rgb(104, 182, 220);
}

#openned {
  display: none;
  background-color: rgb(50, 50, 50);
  position: fixed;
  z-index: 1;
  width: 85vw;
  height: 100vw;

}

#openned button {
  background-color: #302736;
  color: aliceblue;
  width: 90%;
  font-size: 20px;
  margin: 10px auto;
  padding: 10px;
}

header h1 {
  color: #68b6dc;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header button {
  background-color: #392E3F;
  border: #621414;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.bannerimage {
  margin: 90px auto;
  max-width: 100%;
  border-bottom: 5px solid rgb(104, 182, 220);
}

.button {
  color:  #68b6dc;
  background-color: #ffffff00;
  min-width: 100px;
  margin: 0px 10px;
}

@media (max-width: 800px) {
  header {display: none;}
  .bannerimage {margin: auto;}

  .mobile, .mobile2 {
    background-color: #00000000;
    border: #00000000;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
  }
}